@import "../../styles.scss";

// section {
//     position: relative;
//     width: 100vw;
//     position: fixed;
// }

header {
    @include dFlex($jc: space-between);
    padding: 20px 60px;
    background-color: white;
    border-bottom: 1px solid $lightBlue;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    height: 100px;
}

.logo {
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
}

.dropdown-container {
    @include dFlex($gap: 20px);
    // flex-wrap: wrap;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    //padding: 10px;
    //background-color: $middleBlue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;

    &:hover {
        //background-color: $darkBlue;
    }
}

.dropdown-menu {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    padding: 0;
    // margin: 0;
    background-color: white;
    border: 1px solid $middleBlue;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 5px 10px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;
    font-size: 16px;
    width: auto;

    &:hover {
        color: $middleBlue;
    }
}


/* NAVIGATION */
nav {
    width: 80%;
    background: #fff;
}

nav div {
    display: inline-block;
}

nav div a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: $lightBlue;
    font-weight: 800;
    text-transform: uppercase;
    //margin: 0 10px;
}

nav div a,
nav div a:after,
nav div a:before {
    transition: all .5s;
}

nav div a:hover {
    color: $darkBlue;
}


/* stroke */
nav div a {
    position: relative;
}

nav div a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $middleBlue;
    height: 1px;
}

nav div a:hover:after {
    width: 100%;
}

.container-menu {
    @include dFlex($jc: space-around, $ai: flex-start, );
    position: absolute;
    top: 100px;
    left: 0;
    background-color: white;
    width: 100vw;
    border-bottom: 1px solid $lightBlue;
    padding: 20px 10px;

    ul {
        @include dFlex($fd: column, $ai: flex-start, $gap: 5px);
        list-style: none;
        padding: 0;
        cursor: pointer;

        li:hover {
            color: $middleBlue;
        }

        :nth-child(1) {
            color: $darkBlue;
            font-size: 20px;
            padding-bottom: 5px;
        }
    }

}