<header>
    <div>
        <img class="logo" src="/assets/img/logo.jpg" alt="">
    </div>
    <div class="dropdown-container">
        <div class="dropdown">
            <nav>
                <div (click)="openDropdown(1)" class="dropdown-button">
                    <a href="#">Kerzen</a>
                </div>
            </nav>
            <!-- <button (click)="openDropdown(1)" class="dropdown-button">
                <a href="#">Kerzen</a>
            </button> -->
            <ul *ngIf="dropdownOpen[1]" class="dropdown-menu">
                <li (click)="closeDropdowns()">Standkerzen</li>
                <li (click)="closeDropdowns()">Becherkerzen</li>
                <li (click)="closeDropdowns()">Personalisierungen</li>
            </ul>
        </div>
        <div class="dropdown">
            <nav>
                <div (click)="openDropdown(2)" class="dropdown-button">
                    <a href="#">Epoxidharz</a>
                </div>
            </nav>
            <ul *ngIf="dropdownOpen[2]" class="dropdown-menu">
                <li (click)="closeDropdowns()">Figuren</li>
                <li (click)="closeDropdowns()">Schalen/Untersetzer</li>
                <li (click)="closeDropdowns()">Uhren</li>
                <li (click)="closeDropdowns()">Sonstiges</li>
                <li (click)="closeDropdowns()">Personalisierungen</li>
            </ul>
        </div>
        <div class="dropdown">
            <nav>
                <div (click)="openDropdown(3)" class="dropdown-button">
                    <a href="#">Keramik</a>
                </div>
            </nav>
            <ul *ngIf="dropdownOpen[3]" class="dropdown-menu">
                <li (click)="closeDropdowns()">Teelichthalter/Döschen</li>
                <li (click)="closeDropdowns()">Schalen/Untersetzer</li>
                <li (click)="closeDropdowns()">Sonstiges</li>
            </ul>
        </div>
        <div class="dropdown">
            <nav>
                <div (click)="openDropdown(4)" class="dropdown-button">
                    <a href="#">Saison</a>
                </div>
            </nav>
            <ul *ngIf="dropdownOpen[4]" class="dropdown-menu">
                <li (click)="closeDropdowns()">Valentinstag</li>
                <li (click)="closeDropdowns()">Ostern</li>
                <li (click)="closeDropdowns()">Frühling</li>
                <li (click)="closeDropdowns()">Sommer</li>
                <li (click)="closeDropdowns()">Herbst</li>
                <li (click)="closeDropdowns()">Winter</li>
            </ul>
        </div>
    </div>
</header>