@import "../../styles.scss";

footer {
    @include dFlex($jc: space-between);
    background-color: $middleBlue;
    padding: 20px 60px;
    //width: 100vw;
    
    @media (max-width: 590px) {
        flex-direction: column;
        gap: 20px;
    }
}

.logo {
    width: 70px;
    border-radius: 20px;
    cursor: pointer;
}

.imprint {
    @include dFlex($fd: column, $gap: 15px);

    a {
        color: white;
        text-decoration: none;

        &:hover {
            scale: 1.1;
        }
    }
}

.socials {
    @include dFlex($gap: 15px);

    img {
        width: 32px;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }
}