@import "../../styles.scss";

.content{
    @include dFlex($fd: column,$ai: initial);
}

section {
    @include dFlex($ai: center,$jc: flex-start, $gap: 25px);
    //display: flex;
    //gap: 30px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px 50px;
    overflow-x: hidden;
}

.welcome-text{
    @include dFlex();
    padding: 20px 0 30px 0;
    color: $lightBlue;
    div{
        @include dFlex($fd: column, $gap: 5px);         
    }

    h2 {
       // text-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    }
}

app-single-product{    
    height: 300px;
}

app-slideshow {
    margin-top: 100px;
}