<section class="content">
   <app-slideshow></app-slideshow>

   <div class="welcome-text">
      @if (productService.isFiltered) {
      <div>
         <h2>Meine Angebote für Sie im Bereich</h2>
         <h2> {{productService.category}}</h2>
         <span>({{productService.filteredProducts().length}} Artikel)</span>
      </div>
      } @else {
      <div>
         <h2>Willkommen auf meiner Seite. </h2>
         <h2>Schauen Sie sich gerne in Ruhe um.</h2>
         <span>Bei Bestelllungen oder weiteren Fragen erreichen Sie mich über Whatsapp: 01775845705.</span>
         <!-- <span>({{productService.filteredProducts().length}} Artikel)</span> wieder löschen!! -->
      </div>
      }
   </div>

   <div class="product-list">
      @for (product of productService.filteredProducts() | sortByName; track $index) {
      <app-single-product [id]="product.id" [index]="$index" [currentProduct]="product"></app-single-product>
      }
      <!-- @for (product of visibleProducts() | sortByName; track $index) {
         <app-single-product [id]="product.id" [index]="$index" [currentProduct]="product"></app-single-product>
         }
         @if (productService.filteredProducts().length > visibleCount()) {
   
         <button (click)="loadMoreProducts()" class="btn-load-more">
            Weitere Produkte laden
         </button>
         } -->
   </div>
</section>