<div class="content">
   <app-header></app-header>
   <div class="hero">
      <img src="../../assets/img/hero.jpg" alt="">
   </div>
   <section>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
      <app-single-product></app-single-product>
   </section>
   <app-footer></app-footer>
</div>