<section>
    <div class="posBtnBack">
        <a [routerLink]="['']">
            <svg class="backBtn" width="39" height="39" viewBox="0 0 39 39" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="blue" stroke-width="2" />
                <path
                    d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                    fill="blue" />
            </svg>
        </a>
    </div>
    <div class="pripo-box">
        <h1>Datenschutzerklärung</h1><br>
        <h2 id="m716">Präambel</h2>
        <p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer
            personenbezogenen Daten (nachfolgend auch kurz als "Daten" bezeichnet) wir zu welchen Zwecken und in welchem
            Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen
            personenbezogener Daten, sowohl im Rahmen der Erbringung unserer Leistungen als auch insbesondere auf
            unseren Webseiten, in mobilen Applikationen sowie innerhalb externer Onlinepräsenzen, wie z. B. unserer
            Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als "Onlineangebot").</p>
        <p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>

        <p>Stand: 7. Juni 2025</p>
        <br>
        <h2>Inhaltsübersicht</h2>
        <ul class="index">
            <li><a class="index-link" href="#m716">Präambel</a></li>
            <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
            <li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
            <li><a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
            <li><a class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
            <li><a class="index-link" href="#m25">Übermittlung von personenbezogenen Daten</a></li>
            <li><a class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
            <li><a class="index-link" href="#m317">Geschäftliche Leistungen</a></li>
            <li><a class="index-link" href="#m13">Geschäftsprozesse und -verfahren</a></li>
            <li><a class="index-link" href="#m225">Bereitstellung des Onlineangebots und Webhosting</a></li>
            <li><a class="index-link" href="#m638">Werbliche Kommunikation via E-Mail, Post, Fax oder Telefon</a></li>
            <li><a class="index-link" href="#m136">Präsenzen in sozialen Netzwerken (Social Media)</a></li>
            <li><a class="index-link" href="#m15">Änderung und Aktualisierung</a></li>
        </ul>
        <br>
        <h2 id="m3">Verantwortlicher</h2>
        <p>Nathalie Müller<br>Straße der Jugend 2<br>0773 Gräfenhainichen</p>
        <p>E-Mail-Adresse: <a href="mailto:n.handmade@gmx.com">n.handmade&#64;gmx.com</a></p>
        <p>Telefon: 01775845705</p>
        <br>
        <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
        <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen
            und verweist auf die betroffenen Personen.</p>
        <br>
        <h3>Arten der verarbeiteten Daten</h3>
        <ul>
            <li>Bestandsdaten.</li>
            <li>Zahlungsdaten.</li>
            <li>Kontaktdaten.</li>
            <li>Inhaltsdaten.</li>
            <li>Vertragsdaten.</li>
            <li>Nutzungsdaten.</li>
            <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
            <li>Protokolldaten.</li>
        </ul>
        <br>
        <h3>Kategorien betroffener Personen</h3>
        <ul>
            <li>Leistungsempfänger und Auftraggeber.</li>
            <li>Interessenten.</li>
            <li>Kommunikationspartner.</li>
            <li>Nutzer.</li>
            <li>Geschäfts- und Vertragspartner.</li>
        </ul>
        <br>
        <h3>Zwecke der Verarbeitung</h3>
        <ul>
            <li>Erbringung vertraglicher Leistungen und Erfüllung vertraglicher Pflichten.</li>
            <li>Kommunikation.</li>
            <li>Sicherheitsmaßnahmen.</li>
            <li>Direktmarketing.</li>
            <li>Büro- und Organisationsverfahren.</li>
            <li>Organisations- und Verwaltungsverfahren.</li>
            <li>Feedback.</li>
            <li>Marketing.</li>
            <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
            <li>Informationstechnische Infrastruktur.</li>
            <li>Öffentlichkeitsarbeit.</li>
            <li>Absatzförderung.</li>
            <li>Geschäftsprozesse und betriebswirtschaftliche Verfahren.</li>
        </ul>
        <br>
        <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
        <p><strong>Maßgebliche Rechtsgrundlagen nach der DSGVO: </strong>Im Folgenden erhalten Sie eine Übersicht der
            Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie zur
            Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder
            Sitzland gelten können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen
            wir Ihnen diese in der Datenschutzerklärung mit.</p>
        <br>
        <ul>
            <li><strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO)</strong> - Die betroffene Person hat ihre
                Einwilligung in die Verarbeitung der sie betreffenden personenbezogenen Daten für einen spezifischen
                Zweck oder mehrere bestimmte Zwecke gegeben.</li>
            <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong> - Die
                Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder
                zur Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person
                erfolgen.</li>
            <li><strong>Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c) DSGVO)</strong> - Die Verarbeitung ist zur
                Erfüllung einer rechtlichen Verpflichtung erforderlich, der der Verantwortliche unterliegt.</li>
            <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - die Verarbeitung ist zur
                Wahrung der berechtigten Interessen des Verantwortlichen oder eines Dritten notwendig, vorausgesetzt,
                dass die Interessen, Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz
                personenbezogener Daten verlangen, nicht überwiegen.</li>
        </ul>
        <br>
        <p><strong>Nationale Datenschutzregelungen in Deutschland: </strong>Zusätzlich zu den Datenschutzregelungen der
            DSGVO gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum
            Schutz vor Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG).
            Das BDSG enthält insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum
            Widerspruchsrecht, zur Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für
            andere Zwecke und zur Übermittlung sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich
            Profiling. Ferner können Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.</p>
        <br>
        <p><strong>Hinweis auf Geltung DSGVO und Schweizer DSG: </strong>Diese Datenschutzhinweise dienen sowohl der
            Informationserteilung nach dem Schweizer DSG als auch nach der Datenschutzgrundverordnung (DSGVO). Aus
            diesem Grund bitten wir Sie zu beachten, dass aufgrund der breiteren räumlichen Anwendung und
            Verständlichkeit die Begriffe der DSGVO verwendet werden. Insbesondere statt der im Schweizer DSG
            verwendeten Begriffe „Bearbeitung" von „Personendaten", "überwiegendes Interesse" und "besonders
            schützenswerte Personendaten" werden die in der DSGVO verwendeten Begriffe „Verarbeitung" von
            „personenbezogenen Daten" sowie "berechtigtes Interesse" und "besondere Kategorien von Daten" verwendet. Die
            gesetzliche Bedeutung der Begriffe wird jedoch im Rahmen der Geltung des Schweizer DSG weiterhin nach dem
            Schweizer DSG bestimmt.</p>
        <br>
        <h2 id="m27">Sicherheitsmaßnahmen</h2>
        <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
            Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
            unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
            natürlicher Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes
            Schutzniveau zu gewährleisten.</p>
        <p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von
            Daten durch Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden
            Zugriffs, der Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren
            haben wir Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und
            Reaktionen auf die Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz
            personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren
            entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche
            Voreinstellungen.</p>
        <p>Sicherung von Online-Verbindungen durch TLS-/SSL-Verschlüsselungstechnologie (HTTPS): Um die Daten der
            Nutzer, die über unsere Online-Dienste übertragen werden, vor unerlaubten Zugriffen zu schützen, setzen wir
            auf die TLS-/SSL-Verschlüsselungstechnologie. Secure Sockets Layer (SSL) und Transport Layer Security (TLS)
            sind die Eckpfeiler der sicheren Datenübertragung im Internet. Diese Technologien verschlüsseln die
            Informationen, die zwischen der Website oder App und dem Browser des Nutzers (oder zwischen zwei Servern)
            übertragen werden, wodurch die Daten vor unbefugtem Zugriff geschützt sind. TLS, als die weiterentwickelte
            und sicherere Version von SSL, gewährleistet, dass alle Datenübertragungen den höchsten Sicherheitsstandards
            entsprechen. Wenn eine Website durch ein SSL-/TLS-Zertifikat gesichert ist, wird dies durch die Anzeige von
            HTTPS in der URL signalisiert. Dies dient als ein Indikator für die Nutzer, dass ihre Daten sicher und
            verschlüsselt übertragen werden.</p>
<br>
        <h2 id="m25">Übermittlung von personenbezogenen Daten</h2>
        <p>Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass diese an andere Stellen,
            Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt beziehungsweise ihnen
            gegenüber offengelegt werden. Zu den Empfängern dieser Daten können z. B. mit IT-Aufgaben beauftragte
            Dienstleister gehören oder Anbieter von Diensten und Inhalten, die in eine Website eingebunden sind. In
            solchen Fällen beachten wir die gesetzlichen Vorgaben und schließen insbesondere entsprechende Verträge bzw.
            Vereinbarungen, die dem Schutz Ihrer Daten dienen, mit den Empfängern Ihrer Daten ab.</p>
<br>
        <h2 id="m10">Rechte der betroffenen Personen</h2>
        <p>Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte
            zu, die sich insbesondere aus Art. 15 bis 21 DSGVO ergeben:</p>
            <br>
        <ul>
            <li><strong>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
                    ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund
                    von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf
                    diese Bestimmungen gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten
                    verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die
                    Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen;
                    dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</strong>
            </li>
            <li><strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte Einwilligungen
                jederzeit zu widerrufen.</li>
            <li><strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob
                betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen
                und Kopie der Daten entsprechend den gesetzlichen Vorgaben.</li>
            <li><strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die
                Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen
                Daten zu verlangen.</li>
            <li><strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach Maßgabe der
                gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden,
                bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu
                verlangen.</li>
            <li><strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende Daten, die Sie uns
                bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und
                maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu
                fordern.</li>
            <li><strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet eines anderweitigen
                verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer
                Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres
                Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die
                Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die Vorgaben der DSGVO verstößt.</li>
        </ul>
<br>
        <h2 id="m317">Geschäftliche Leistungen</h2>
        <p>Wir verarbeiten Daten unserer Vertrags- und Geschäftspartner, z. B. Kunden und Interessenten (zusammenfassend
            als „Vertragspartner" bezeichnet), im Rahmen von vertraglichen und vergleichbaren Rechtsverhältnissen sowie
            damit verbundenen Maßnahmen und im Hinblick auf die Kommunikation mit den Vertragspartnern (oder
            vorvertraglich), etwa zur Beantwortung von Anfragen.</p>
        <p>Wir verwenden diese Daten, um unsere vertraglichen Verpflichtungen zu erfüllen. Dazu gehören insbesondere die
            Pflichten zur Erbringung der vereinbarten Leistungen, etwaige Aktualisierungspflichten und Abhilfe bei
            Gewährleistungs- und sonstigen Leistungsstörungen. Darüber hinaus verwenden wir die Daten zur Wahrung
            unserer Rechte und zum Zwecke der mit diesen Pflichten verbundenen Verwaltungsaufgaben sowie der
            Unternehmensorganisation. Zudem verarbeiten wir die Daten auf Grundlage unserer berechtigten Interessen
            sowohl an einer ordnungsgemäßen und betriebswirtschaftlichen Geschäftsführung als auch an
            Sicherheitsmaßnahmen zum Schutz unserer Vertragspartner und unseres Geschäftsbetriebs vor Missbrauch,
            Gefährdung ihrer Daten, Geheimnisse, Informationen und Rechte (z. B. zur Beteiligung von
            Telekommunikations-, Transport- und sonstigen Hilfsdiensten sowie Subunternehmern, Banken, Steuer- und
            Rechtsberatern, Zahlungsdienstleistern oder Finanzbehörden). Im Rahmen des geltenden Rechts geben wir die
            Daten von Vertragspartnern nur insoweit an Dritte weiter, als dies für die vorgenannten Zwecke oder zur
            Erfüllung gesetzlicher Pflichten erforderlich ist. Über weitere Formen der Verarbeitung, etwa zu
            Marketingzwecken, werden die Vertragspartner im Rahmen dieser Datenschutzerklärung informiert.</p>
        <p>Welche Daten für die vorgenannten Zwecke erforderlich sind, teilen wir den Vertragspartnern vor oder im
            Rahmen der Datenerhebung, z. B. in Onlineformularen, durch besondere Kennzeichnung (z. B. Farben) bzw.
            Symbole (z. B. Sternchen o. Ä.), oder persönlich mit.</p>
        <p>Wir löschen die Daten nach Ablauf gesetzlicher Gewährleistungs- und vergleichbarer Pflichten, d. h.
            grundsätzlich nach vier Jahren, es sei denn, dass die Daten in einem Kundenkonto gespeichert werden, z. B.,
            solange sie aus gesetzlichen Gründen der Archivierung aufbewahrt werden müssen (etwa für Steuerzwecke im
            Regelfall zehn Jahre). Daten, die uns im Rahmen eines Auftrags durch den Vertragspartner offengelegt wurden,
            löschen wir entsprechend den Vorgaben und grundsätzlich nach Ende des Auftrags.</p>
        <ul class="m-elements">
            <br>
            <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der vollständige Name, Wohnadresse,
                Kontaktinformationen, Kundennummer, etc.); Zahlungsdaten (z. B. Bankverbindungen, Rechnungen,
                Zahlungshistorie); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder Telefonnummern); Vertragsdaten
                (z. B. Vertragsgegenstand, Laufzeit, Kundenkategorie); Nutzungsdaten (z. B. Seitenaufrufe und
                Verweildauer, Klickpfade, Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme,
                Interaktionen mit Inhalten und Funktionen). Meta-, Kommunikations- und Verfahrensdaten (z. B.
                IP-Adressen, Zeitangaben, Identifikationsnummern, beteiligte Personen).</li>
            <li><strong>Betroffene Personen:</strong> Leistungsempfänger und Auftraggeber; Interessenten. Geschäfts- und
                Vertragspartner.</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Erbringung vertraglicher Leistungen und Erfüllung
                vertraglicher Pflichten; Sicherheitsmaßnahmen; Kommunikation; Büro- und Organisationsverfahren;
                Organisations- und Verwaltungsverfahren. Geschäftsprozesse und betriebswirtschaftliche Verfahren.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs.
                1 S. 1 lit. b) DSGVO); Rechtliche Verpflichtung (Art. 6 Abs. 1 S. 1 lit. c) DSGVO). Berechtigte
                Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
        </ul>
        <br>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>Onlineshop, Bestellformulare, E-Commerce und Auslieferung: </strong>Wir verarbeiten die Daten
                unserer Kunden, um ihnen die Auswahl, den Erwerb, bzw. die Bestellung der gewählten Produkte, Waren
                sowie verbundener Leistungen, als auch deren Bezahlung und Zustellung, bzw. Ausführung zu ermöglichen.
                Sofern für die Ausführung einer Bestellung erforderlich, setzen wir Dienstleister, insbesondere Post-,
                Speditions- und Versandunternehmen ein, um die Lieferung, bzw. Ausführung gegenüber unseren Kunden
                durchzuführen. Für die Abwicklung der Zahlungsvorgänge nehmen wir die Dienste von Banken und
                Zahlungsdienstleistern in Anspruch. Die erforderlichen Angaben sind als solche im Rahmen des Bestell-
                bzw. vergleichbaren Erwerbsvorgangs gekennzeichnet und umfassen die zur Auslieferung, bzw.
                Zurverfügungstellung und Abrechnung benötigten Angaben sowie Kontaktinformationen, um etwaige
                Rücksprache halten zu können; <span class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und
                    vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</span></li>
        </ul>
        <br>
        <h2 id="m13">Geschäftsprozesse und -verfahren</h2>
        <p>Personenbezogene Daten von Leistungsempfängern und Auftraggebern – darunter Kunden, Klienten oder in
            speziellen Fällen Mandanten, Patienten oder Geschäftspartner sowie weitere Dritte – werden im Rahmen
            vertraglicher sowie vergleichbarer Rechtsverhältnisse und vorvertraglicher Maßnahmen wie der Anbahnung von
            Geschäftsbeziehungen verarbeitet. Diese Datenverarbeitung unterstützt und erleichtert
            betriebswirtschaftliche Abläufe in Bereichen wie Kundenmanagement, Vertrieb, Zahlungsverkehr, Buchhaltung
            und Projektmanagement.</p>
        <p>Die erfassten Daten dienen dazu, vertragliche Verpflichtungen zu erfüllen und betriebliche Prozesse effizient
            zu gestalten. Hierzu gehört die Abwicklung von Geschäftstransaktionen, das Management von Kundenbeziehungen,
            die Optimierung von Vertriebsstrategien sowie die Gewährleistung interner Rechnungs- und Finanzprozesse.
            Zusätzlich unterstützen die Daten die Wahrung der Rechte des Verantwortlichen und fördern
            Verwaltungsaufgaben sowie die Organisation des Unternehmens.</p>
        <p>Personenbezogene Daten können an Dritte weitergegeben werden, sofern dies zur Erfüllung der genannten Zwecke
            oder gesetzlicher Verpflichtungen notwendig<span class="dsg-license-content-blurred de dsg-ttip-activate"> -
                Dieser Textbereich muss mit einer Premium Lizenz freischaltet werden. - premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext
                premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext premiumtext </span></p>
        <br>
                <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der vollständige Name, Wohnadresse,
                Kontaktinformationen, Kundennummer,<span class="dsg-license-content-blurred de dsg-ttip-activate"> -
                    Dieser Textbereich muss mit einer Premium Lizenz freischaltet werden. - premiumtext premiumtext
                    premiumtext </span>); Zahlungsdaten (z. B. Bankverbindungen, Rechnungen, Zahlungshistorie<span
                    class="dsg-license-content-blurred de dsg-ttip-activate"> - Dieser Textbereich muss mit einer
                    Premium Lizenz freischaltet werden. - premiumtext premiumtext </span>); Kontaktdaten (z. B. Post-
                und E-Mail-Adressen oder<span class="dsg-license-content-blurred de dsg-ttip-activate"> - Dieser
                    Textbereich muss mit einer Premium Lizenz freischaltet werden. - premiumtext premiumtext premiumtext
                </span>); Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie
                betreffenden Informationen, wie z. B. Angaben zur Autorenschaft<span
                    class="dsg-license-content-blurred de dsg-ttip-activate"> - Dieser Textbereich muss mit einer
                    Premium Lizenz freischaltet werden. - premiumtext premiumtext premiumtext premiumtext premiumtext
                    premiumtext </span>). Vertragsdaten (z. B. Vertragsgegenstand, Laufzeit, Kundenkategorie<span
                    class="dsg-license-content-blurred de dsg-ttip-activate"> - Dieser Textbereich muss mit einer
                    Premium Lizenz freischaltet werden. - premiumtext premiumtext </span>).</li>
            <li><strong>Betroffene Personen:</strong> Leistungsempfänger und Auftraggeber; Interessenten;
                Kommunikationspartner. Geschäfts- und Vertragspartner.</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Erbringung vertraglicher Leistungen und Erfüllung
                vertraglicher Pflichten; Büro- und Organisationsverfahren. Geschäftsprozesse und betriebswirtschaftliche
                Verfahren.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs.
                1 S. 1 lit. b) DSGVO). Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
        </ul>
        <br>
        <h2 id="m225">Bereitstellung des Onlineangebots und Webhosting</h2>
        <p>Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können. Zu
            diesem Zweck verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen
            unserer Online-Dienste an den Browser oder das Endgerät der Nutzer zu übermitteln.</p>
       <br>
            <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer,
                Klickpfade, Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme, Interaktionen
                mit Inhalten und Funktionen); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen,
                Zeitangaben, Identifikationsnummern, beteiligte Personen). Protokolldaten (z. B. Logfiles betreffend
                Logins oder den Abruf von Daten oder Zugriffszeiten.).</li>
            <li><strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und
                Nutzerfreundlichkeit; Informationstechnische Infrastruktur (Betrieb und Bereitstellung von
                Informationssystemen und technischen Geräten (Computer, Server etc.)). Sicherheitsmaßnahmen.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
            </li>
        </ul>
        <br>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>Bereitstellung Onlineangebot auf gemietetem Speicherplatz: </strong>Für die Bereitstellung
                unseres Onlineangebotes nutzen wir Speicherplatz, Rechenkapazität und Software, die wir von einem
                entsprechenden Serveranbieter (auch "Webhoster" genannt) mieten oder anderweitig beziehen; <span
                    class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                    DSGVO).</span></li>
            <li><strong>Erhebung von Zugriffsdaten und Logfiles: </strong>Der Zugriff auf unser Onlineangebot wird in
                Form von sogenannten "Server-Logfiles" protokolliert. Zu den Serverlogfiles können die Adresse und der
                Name der abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen,
                Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL
                (die zuvor besuchte Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören. Die
                Serverlogfiles können zum einen zu Sicherheitszwecken eingesetzt werden, z. B. um eine Überlastung der
                Server zu vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken),
                und zum anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen; <span
                    class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                    DSGVO). </span><strong>Löschung von Daten:</strong> Logfile-Informationen werden für die Dauer von
                maximal 30 Tagen gespeichert und danach gelöscht oder anonymisiert. Daten, deren weitere Aufbewahrung zu
                Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von der
                Löschung ausgenommen.</li>
            <li><strong>ALL-INKL: </strong>Leistungen auf dem Gebiet der Bereitstellung von informationstechnischer
                Infrastruktur und verbundenen Dienstleistungen (z. B. Speicherplatz und/oder Rechenkapazitäten);
                <strong>Dienstanbieter:</strong> ALL-INKL.COM - Neue Medien Münnich, Inhaber: René Münnich, Hauptstraße
                68, 02742 Friedersdorf, Deutschland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte
                    Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a
                    href="https://all-inkl.com/" target="_blank">https://all-inkl.com/</a>;
                <strong>Datenschutzerklärung:</strong> <a href="https://all-inkl.com/datenschutzinformationen/"
                    target="_blank">https://all-inkl.com/datenschutzinformationen/</a>.
                <strong>Auftragsverarbeitungsvertrag:</strong> Wird vom Dienstanbieter bereitgestellt.
            </li>
        </ul>
        <br>
        <h2 id="m638">Werbliche Kommunikation via E-Mail, Post, Fax oder Telefon</h2>
        <p>Wir verarbeiten personenbezogene Daten zu Zwecken der werblichen Kommunikation, die über diverse Kanäle, wie
            z. B. E-Mail, Telefon, Post oder Fax, entsprechend den gesetzlichen Vorgaben erfolgen kann.</p>
        <p>Die Empfänger haben das Recht, erteilte Einwilligungen jederzeit zu widerrufen oder der werblichen
            Kommunikation jederzeit zu widersprechen.</p>
        <p>Nach Widerruf oder Widerspruch speichern wir die zum Nachweis der bisherigen Berechtigung erforderlichen
            Daten zur Kontaktaufnahme oder Zusendung bis zu drei Jahre nach Ablauf des Jahres des Widerrufs oder
            Widerspruchs auf der Grundlage unserer berechtigten Interessen. Die Verarbeitung dieser Daten ist auf den
            Zweck einer möglichen Abwehr von Ansprüchen beschränkt. Auf der Grundlage des berechtigten Interesses, den
            Widerruf bzw. Widerspruch der Nutzer dauerhaft zu beachten, speichern wir ferner die zur Vermeidung einer
            erneuten Kontaktaufnahme erforderlichen Daten (z. B. je nach Kommunikationskanal die E-Mail-Adresse,
            Telefonnummer, Name).</p>
            <br>
        <ul class="m-elements">
            <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der vollständige Name, Wohnadresse,
                Kontaktinformationen, Kundennummer, etc.); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
                Telefonnummern). Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie
                betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung).</li>
            <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Direktmarketing (z. B. per E-Mail oder postalisch); Marketing.
                Absatzförderung.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) DSGVO). Berechtigte
                Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
        </ul>
        <br>
        <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
        <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Nutzerdaten, um
            mit den dort aktiven Nutzern zu kommunizieren oder Informationen über uns anzubieten.</p>
        <p>Wir weisen darauf hin, dass dabei Nutzerdaten außerhalb des Raumes der Europäischen Union verarbeitet werden
            können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so zum Beispiel die Durchsetzung der
            Nutzerrechte erschwert werden könnte.</p>
        <p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und
            Werbezwecke verarbeitet. So können beispielsweise anhand des Nutzungsverhaltens und sich daraus ergebender
            Interessen der Nutzer Nutzungsprofile erstellt werden. Letztere finden möglicherweise wiederum Verwendung,
            um etwa Werbeanzeigen innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der
            Nutzer entsprechen. Daher werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das
            Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Zudem können in den Nutzungsprofilen
            auch Daten unabhängig der von den Nutzern verwendeten Geräten gespeichert werden (insbesondere, wenn sie
            Mitglieder der jeweiligen Plattformen und dort eingeloggt sind).</p>
        <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten
            (Opt-out) verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.
        </p>
        <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass
            diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur Letztere haben jeweils Zugriff
            auf die Nutzerdaten und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie
            dennoch Hilfe benötigen, dann können Sie sich an uns wenden.</p>
        <ul class="m-elements">
            <br>
            <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
                Telefonnummern); Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie
                betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung).
                Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade, Nutzungsintensität und -frequenz,
                verwendete Gerätetypen und Betriebssysteme, Interaktionen mit Inhalten und Funktionen).</li>
            <li><strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
            <li><strong>Zwecke der Verarbeitung:</strong> Kommunikation; Feedback (z. B. Sammeln von Feedback via
                Online-Formular). Öffentlichkeitsarbeit.</li>
            <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
                Informationen zur Datenspeicherung und Löschung".</li>
            <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
            </li>
        </ul>
        <br>
        <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
        <ul class="m-elements">
            <li><strong>Instagram: </strong>Soziales Netzwerk, ermöglicht das Teilen von Fotos und Videos, das
                Kommentieren und Favorisieren von Beiträgen, Nachrichtenversand, Abonnieren von Profilen und Seiten;
                <strong>Dienstanbieter:</strong> Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04 X2K5,
                Irland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1
                    lit. f) DSGVO); </span><strong>Website:</strong> <a href="https://www.instagram.com"
                    target="_blank">https://www.instagram.com</a>; <strong>Datenschutzerklärung:</strong> <a
                    href="https://privacycenter.instagram.com/policy/"
                    target="_blank">https://privacycenter.instagram.com/policy/</a>. <strong>Grundlage
                    Drittlandtransfers:</strong> Data Privacy Framework (DPF), Data Privacy Framework (DPF).
            </li>
            <li><strong>Facebook-Seiten: </strong>Profile innerhalb des sozialen Netzwerks Facebook - Wir sind gemeinsam
                mit Meta Platforms Ireland Limited für die Erhebung (jedoch nicht die weitere Verarbeitung) von Daten
                der Besucher unserer Facebook-Seite (sog. "Fanpage") verantwortlich. Zu diesen Daten gehören
                Informationen zu den Arten von Inhalten, die Nutzer sich ansehen oder mit denen sie interagieren, oder
                die von ihnen vorgenommenen Handlungen (siehe unter „Von dir und anderen getätigte und bereitgestellte
                Dinge" in der Facebook-Datenrichtlinie: <a href="https://www.facebook.com/privacy/policy/"
                    target="_blank">https://www.facebook.com/privacy/policy/</a>), sowie Informationen über die von den
                Nutzern genutzten Geräte (z. B. IP-Adressen, Betriebssystem, Browsertyp, Spracheinstellungen,
                Cookie-Daten; siehe unter „Geräteinformationen" in der Facebook-Datenrichtlinie: <a
                    href="https://www.facebook.com/privacy/policy/"
                    target="_blank">https://www.facebook.com/privacy/policy/</a>). Wie in der Facebook-Datenrichtlinie
                unter „Wie verwenden wir diese Informationen?" erläutert, erhebt und verwendet Facebook Informationen
                auch, um Analysedienste, so genannte "Seiten-Insights", für Seitenbetreiber bereitzustellen, damit diese
                Erkenntnisse darüber erhalten, wie Personen mit ihren Seiten und mit den mit ihnen verbundenen Inhalten
                interagieren. Wir haben mit Facebook eine spezielle Vereinbarung abgeschlossen ("Informationen zu
                Seiten-Insights", <a href="https://www.facebook.com/legal/terms/page_controller_addendum"
                    target="_blank">https://www.facebook.com/legal/terms/page_controller_addendum</a>), in der
                insbesondere geregelt wird, welche Sicherheitsmaßnahmen Facebook beachten muss und in der Facebook sich
                bereit erklärt hat die Betroffenenrechte zu erfüllen (d. h. Nutzer können z. B. Auskünfte oder
                Löschungsanfragen direkt an Facebook richten). Die Rechte der Nutzer (insbesondere auf Auskunft,
                Löschung, Widerspruch und Beschwerde bei zuständiger Aufsichtsbehörde), werden durch die Vereinbarungen
                mit Facebook nicht eingeschränkt. Weitere Hinweise finden sich in den "Informationen zu Seiten-Insights"
                (<a href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
                    target="_blank">https://www.facebook.com/legal/terms/information_about_page_insights_data</a>). Die
                gemeinsame Verantwortlichkeit beschränkt sich auf die Erhebung durch und Übermittlung von Daten an Meta
                Platforms Ireland Limited, ein Unternehmen mit Sitz in der EU. Die weitere Verarbeitung der Daten liegt
                in der alleinigen Verantwortung von Meta Platforms Ireland Limited, was insbesondere die Übermittlung
                der Daten an die Muttergesellschaft Meta Platforms, Inc. in den USA betrifft;
                <strong>Dienstanbieter:</strong> Meta Platforms Ireland Limited, Merrion Road, Dublin 4, D04 X2K5,
                Irland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1
                    lit. f) DSGVO); </span><strong>Website:</strong> <a href="https://www.facebook.com"
                    target="_blank">https://www.facebook.com</a>; <strong>Datenschutzerklärung:</strong> <a
                    href="https://www.facebook.com/privacy/policy/"
                    target="_blank">https://www.facebook.com/privacy/policy/</a>. <strong>Grundlage
                    Drittlandtransfers:</strong> Data Privacy Framework (DPF), Standardvertragsklauseln (<a
                    href="https://www.facebook.com/legal/EU_data_transfer_addendum"
                    target="_blank">https://www.facebook.com/legal/EU_data_transfer_addendum</a>), Data Privacy
                Framework (DPF)Standardvertragsklauseln (<a
                    href="https://www.facebook.com/legal/EU_data_transfer_addendum"
                    target="_blank">https://www.facebook.com/legal/EU_data_transfer_addendum</a>).
            </li>
            <li><strong>Pinterest: </strong>Soziales Netzwerk, ermöglicht das Teilen von Fotos, Kommentieren,
                Favorisieren und Kuratieren von Beiträgen, Nachrichtenversand, Abonnieren von Profilen;
                <strong>Dienstanbieter:</strong> Pinterest Europe Limited, 2nd Floor, Palmerston House, Fenian Street,
                Dublin 2, Irland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs.
                    1 S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a href="https://www.pinterest.com"
                    target="_blank">https://www.pinterest.com</a>. <strong>Datenschutzerklärung:</strong> <a
                    href="https://policy.pinterest.com/de/privacy-policy"
                    target="_blank">https://policy.pinterest.com/de/privacy-policy</a>.
            </li>
        </ul>
        <br>
        <h2 id="m15">Änderung und Aktualisierung</h2>
        <p>Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die
            Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies
            erforderlich machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits
            (z. B. Einwilligung) oder eine sonstige individuelle Benachrichtigung erforderlich wird.</p>
        <p>Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und
            Organisationen angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und
            bitten die Angaben vor Kontaktaufnahme zu prüfen.</p>
<br>
        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
                Schwenke</a></p>
    </div>
</section>