<section>

    <div class="posBtnBack">
        <a [routerLink]="['']">
            <svg class="backBtn" width="39" height="39" viewBox="0 0 39 39" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="1" y="1" width="37" height="37" rx="18.5" stroke="blue" stroke-width="2" />
                <path
                    d="M18 15.828L13.343 20.485C12.9526 20.8755 12.3195 20.8755 11.929 20.485C11.5386 20.0945 11.5386 19.4615 11.929 19.071L18.2929 12.7071C18.6834 12.3166 19.3166 12.3166 19.7071 12.7071L26.071 19.071C26.4615 19.4615 26.4615 20.0945 26.071 20.485C25.6806 20.8755 25.0475 20.8755 24.657 20.485L20 15.828L20 27C20 27.5523 19.5523 28 19 28C18.4477 28 18 27.5523 18 27L18 15.828Z"
                    fill="blue" />
            </svg>
        </a>
    </div>

    <div class="lorem">
        <h1>Impressum</h1>
        <br>
        <h3> Angaben gemäß § 5 TMG:</h3>
        <br>
        <p>Sebastian Torney<br />
            Bahnhofstra&szlig;e 101<br />
            06901 Kemberg OT Bergwitz</p>
        <br>
        <br>

        <h3>Kontakt</h3>
        <br>
        <p>Telefon: +49 (0) 123 44 55 66<br />
            E-Mail: mustermann&#64;musterfirma.de</p>
        <br>
        <br>
        <h1>Haftungsausschluss:</h1>
        <br>
        <h3>Haftung für Inhalte</h3>
        <br>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
            Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
            Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis
            10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
            Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
            bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
            konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
            Inhalte umgehend entfernen.</p>
            <br>
            <p>Instagram, Pinterest, Facebook and left arrow Icons made by 
                <a href="https://www.flaticon.com/authors/laisa-islam-ani">Laisa Islam Ani</a> from www.flaticon.com</p>
                <p>WhatApp and Email Icons made by 
                    <a href="https://www.flaticon.com/authors/fathema-khanom ">Fathema Khanom</a> from www.flaticon.com</p>
            <br>
            <br>
        <h3>Haftung für Links</h3>
        <br>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und
            Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
            Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis
            10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde
            Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen
            bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
            konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese
            Inhalte umgehend entfernen.</p>
    </div>

</section>