@import "../../../styles.scss";

.card {
    @include dFlex($fd: column, $ai: unset, $gap: 10px);
    width: 200px;
    cursor: pointer;

    &:hover {
        //background-color: $lightBlue;
        //border-radius: 20px;
        //scale: 1.05;
    }
}

.img-div {
    width: 200px;
    height: 200px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

        &:hover {
            scale: 1.05;
        }
    }
}

.info {
    @include dFlex($fd: column, $ai: flex-start, $gap: 5px);

    .mass-div {
        @include dFlex($jc: flex-end, $ai: flex-start, $gap: 5px);
    }
}

.overlay {
    @include dFlex();
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.card-detail {
    @include dFlex($fd: column, $gap: 10px);
    background-color: white;
    max-width: 500px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-height: 90vh;

    h2 {
        color: $middleBlue;
        padding-bottom: 10px;
    }

    span {
        display: inline-block;
        max-height: 200px;
        overflow-y: auto;
        vertical-align: top;
    }
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    div {
        &:hover {
            scale: 1.2;
            cursor: pointer;

            svg path {
                fill: $middleBlue;
            }
        }
    }
}

.img-div-detail {
    max-width: 500px;
    //max-height: 500px;
    aspect-ratio: 1/1;
    //padding: 0 15px;
    overflow: hidden;

    img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}