<section>
    <div class="card">
        <div class="imgDiv">
            <img src="../../../assets/img/mandarine-becher.jpg" alt="">
        </div>
        <div class="info">
            <span>Mandarine-Becher</span>
            <span>Preis: 10€</span>
            <span> Maße: 12cm x 8,5cm x 8,5cm</span>
            <!-- <span>🍊🎄 Der Geschmack von Weihnachten, neu interpretiert: Der Mandarine-Becher
                ist nicht nur ein Fest für die Augen, sondern erfüllt dein Zuhause mit
                gemütlichem Winterflair. Handgemacht, einzigartig und voller Liebe – perfekt für
                zauberhafte Momente oder als besonderes Geschenk. 🕯️✨</span> -->
        </div>
    </div>
</section>